@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --primary: #101210;
  --secondary: #f0fff0;
}

body {
  background-color: var(--primary);
  font-family: Inter,Inter Fallback;
  font-weight: 500;
  line-height: 1.25rem;
  font-size: .875rem;
  color: var(--secondary);
}

.topnav {
  background-image: linear-gradient(rgb(0, 60, 78), rgba(255, 255, 255, 0));
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: var(--secondary);
  text-align: center;
  padding: 32px 16px 32px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #00969b;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #00969b;
  text-decoration: underline;
}