
.topbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.5rem;
    height: auto;
    background-color: #05070A;
    color: white;
}

.topbar-left {
    display: flex;
    align-items: center;
}

.topbar-middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.topbar-link {
    will-change: transform;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
    font-weight: 700;
    font-size: 1.3rem;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.5px;
    color: whitesmoke;
    text-decoration: none;
    margin-right: 1rem;
}

.topbar-link:hover {
    transform: translateY(-3px);
    color: rgb(91, 203, 255);
}

.active {
    color: rgb(0, 174, 255);
    text-decoration: underline;
    text-underline-offset: 0.5rem; 
}

.logo-circle {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.55rem;
    margin-right: 10px;
    letter-spacing: 0.5px;
}

.brand {
    font-weight: 700;
    font-size: 1.3rem;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.5px;
}

.menu-icon {
    font-size: 1.8rem;
    cursor: pointer;
    padding: 0.25rem;
}