/* WEBSITE HERO CSS */

.hero {
    text-align: center;
    margin-top: 6rem;
    color: white;
    font-family: 'Inter', sans-serif;
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.hero p {
    font-size: 1.1rem;
    margin-top: 0.5rem;
}


/* WEBSITE DESCRIPTION CSS */

.wesbite-info {
    text-align: center;
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.4;
}


/* POPULAR GAMES CSS */

.popular-games {
    text-align: center;
    padding: 0rem 1rem;
    color: white;
    font-family: 'Inter', sans-serif;
}

.popular-games h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.populargames-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.populargames-card {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 1.5rem;
    border-radius: 12px;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-align: left;
}

.populargames-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.populargames-card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.populargames-card p {
    font-size: 0.95rem;
    color: #ccc;
}

.populargames-card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}






/* FOR CREATORS SECTION */

.for-creators {
    
    width: 50%;
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 5rem;
}




.fc-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.fc-card {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 1.5rem;
    border-radius: 12px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-align: left;
}

.fc-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.fc-card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.fc-card p {
    font-size: 0.95rem;
    color: #ccc;
}


.fc-learn-more {
    background-color: #10286e;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 1rem;
    border-radius: 0.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.fc-title {
    padding-bottom: 3rem;
}

.fc-container {
    display: flex;
    justify-content: center; /* horizontal centering */
}