.download-cont {
    display: flex;
    height: 5rem;
    width: 90%;

    margin-top: 2rem;
    margin-left: 5%;
}

.file-info {
    width: 40%;


}
.file-info h1{
    font-size: 1.3rem;
    padding-top: 0;
}

.file-info p{
    color: var(--font-color2);
    font-size: 1.1rem;
    font-weight: 600;
}
.date-posted {
    width: 20%;
    margin: auto;
    text-align: center;
}
.more-info {
    width: 20%;
    margin: auto;
    text-align: center;
}
.df-buttons {
    width: 20%;
    margin: auto;
    text-align: center;
}


.df-download {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    border-style: solid;
    border-radius: 1.25rem;
    border-color: var(--background-color7);
    border-width: 0.25rem;

    color: var(--background-color2);
    background-color: var(--blue-color2);

    margin-right: 1rem;
    margin-left: 1rem;
}

.df-download:hover{
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 6px 15px var(--card-color3);
}

.df-more-info {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    border-style: solid;
    border-radius: 1.25rem;
    border-color: var(--blue-color2);
    border-width: 0.25rem;

    color: var(--blue-color2);
    background-color: var(--background-color6);

    margin-right: 1rem;
    margin-left: 1rem;
}

.df-more-info:hover{
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 6px 15px var(--card-color3);
}


.df-fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--card-color4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
  
.df-expanded-div {
    background-color: var(--card-color5);
    width: 60%;
    height: 60%;
    object-fit: contain;
    border-radius: 3rem;

    padding: 3rem;
}
  