.SideBySidePara {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    gap: 2rem;
}

.SideBySidePara.reverse {
    flex-direction: row-reverse;
}

.SBSP-Left, .SBSP-Right {
    width: 32%;
    padding: 2rem;
}

.SBSP-Left {
    font-family: 'Inter', sans-serif;
}
.SBSP-Left p {
    font-size: 1.5rem;
}
.SBSP-Left h3 {
    font-size: 2rem;
}

.SBSP-Right {
    border-radius: 1.5rem;
    border: 0.5rem solid var(--background-color6);
    background: linear-gradient(to bottom, var(--background-color3) 0%, var(--background-color1) 50%, var(--background-color5) 100%);
}

@media screen and (max-width: 768px) {
    .SideBySidePara {
        flex-direction: column;
    }
    .SideBySidePara.reverse {
        flex-direction: column;
    }
    .SBSP-Left, .SBSP-Right {
        width: 90%;
    }
}
