.SideBySidePara {
    display: flex;
    margin-left: 25%;
}

.SBSP-Left {
    border-radius: 1.5rem;
    width: 25%;
    background-color: rgba(99, 99, 99, 0.315);
    padding: 2rem;
    margin-right: 1rem;
}

.SBSP-Right {
    border-radius: 1.5rem;
    width: 25%;
    background-color: rgba(99, 99, 99, 0.315);
    padding: 2rem;
    margin-left: 1rem;
}